FOTKY_FOLDER_ID=
EVENTS_FOLDER_ID=
BASE_URL=https://your-backend.onrender.com

GOOGLE_DRIVE_PROJECT_ID=
GOOGLE_DRIVE_PRIVATE_KEY_ID=
GOOGLE_DRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_CLIENT_EMAIL=
GOOGLE_DRIVE_CLIENT_ID=
